*{
    font-family: 'Montserrat', sans-serif;     
}
body{
    text-align: center;
    background-image:linear-gradient(to right,  #58d0e1,  #acd482);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    background: rgba(255, 255, 255, 0.48);
    border-radius: 5px; 
    border: 1px solid grey;
    width: 500px;
    max-width: 500;
    min-width: 300;
    box-shadow: 1px 1px 3px #9b9996;
    padding: 15px;
    display: inline-block;
     
}
label{
    text-align: left;
    display: block;
    margin-bottom: 5px;
    margin-top: 1em;
}
input{
    border-radius: 5px;
    color: #9b9996;
    border: 1px solid rgb(71, 69, 69);
    display: block;
    width: 90%; 
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
input:focus{
    background-color: #f4fdea;
}
button{
     color: white;
     border-radius: 5px;
     border: none;
     background-color: #44a7bb;
     padding: 1em 3em; 
     margin-top: 2em;
     font-size: 1.1em;
}
.button{
    text-align: left;
    margin-bottom: 1em;
}
button:hover{
    background-color: #82bc3f;
    cursor: pointer;
}
a{
    color: #194563;
    margin-left: 2em;
}